body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}
.sidebar{
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 73px;
    background: #28a745;
    padding: 6px 14px;
    transition: all 0.5s ease;
}
.sidebar.active{
    width: 240px;
}

.sidebar .logo_content .logo{
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
}
.sidebar.active .logo_content .logo{
    opacity: 1;
    pointer-events: none;
}
.logo_content .logo i{
    font-size: 28px;
    margin-right: 5px;
    
}

.logo_content .logo .logo_name{
    font-size: 20px;
    font-weight: 400;
    
}
.sidebar #btn{
 position: absolute;
 color: #fff;
 top: 6px;
 left: 60%;
 font-size: 20px;   
 height: 50px;
 width: 40px;
 text-align: center;
 line-height: 50px;
 transform: translateX(-50%);
 margin-bottom: 200px;
}
.sidebar.active #btn{
    left: 90%;
}

.sidebar ul{
    padding: 3px;
}

.sidebar ul li{
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 5px;
    list-style: none;
    line-height: 50px;
    margin-top: 30px;
}
.sidebar ul li .tooltip{
    position: absolute;
    left: 100px;
    top: 0;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    height: 35px;
    width: 122px;
    background: #fff;
    line-height: 35px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0s;
    opacity: 0;
    pointer-events: none;
    display: block;
    
}
.sidebar.active ul li .tooltip{
    display: none;
}
.sidebar ul li a{
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;  
    transition: all 0.4s ease;
    border-radius: 12px;
    white-space: nowrap;
}
.sidebar ul li a:hover{
    background: #fff;
    color: #11101d;
}
.sidebar ul li a i{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}
/* .sidebar .links_name{
    opacity: 0;
    pointer-events: auto;
} */
.sidebar.active .links_name{
    opacity: 1;
    pointer-events: auto;
}
.home_content{
    position: absolute;
    height: 100%;
    width: 100%;
    width: calc(100%-78px);
    left: 80px; 
    transition: all 0.5s ease;
    margin-top: 10px;
}
.home_content .text{
    font-size: 25px;
    font-weight: 500;
    color: #1d1b31;
    margin: 12px;
}
.sidebar.active ~ .home_content{
    width: calc(100% - 240px);
    left: 240px;
}

.btn1{
    height: 80px;
    width: 150px;
    border-radius: 10px;
}
.vll{
background-color:rgba(231, 21, 179, 0.644)}